---
layout: default
title: Příspěvky
permalink: /archiv/
redirect_from:
    - /archiv/vse/
    - /znacky/
hide: true
pagination:
  enabled: true
---

{% for post in paginator.posts %}
<div class="article-wrapper">
    <article>
    {% include article-header.html post=post %}
        <section class="post-content">
            {% assign size = post.content | split: site.excerpt_separator | size %}
            {% if size > 1 %}
            {{ post.excerpt }}
            <a class="btn" href="{{ post.url | relative_url }}">{{ site.str_read_more }}</a>
            {% else %}
            {{ post.content }}
            {% endif %}
        </section>
    </article>
</div>

{% if forloop.last != true %}
<hr/>
{% endif %}
{% endfor %}

{% include paginator.html %}
