---
layout: page
title: Výsledky hledání
permalink: /search/
hide: true
---

<script>
    var baseurl = "{{ site.baseurl }}";
</script>

<div id="search-results">
    <hr id="first-hr" class="with-no-margin"/>

    {% for post in site.posts %}
    <div id="{{ post.id | replace: '/', '-' }}" style="display: none;">
        <div class="article-wrapper">
            <article>
                {% include article-header.html post=post %}
            </article>
        </div>
        <hr class="with-no-margin"/>
    </div>
    {% endfor %}
</div>
