{% if include.page %}
    {% assign this_post = include.page %}
{% else %}
    {% assign this_post = include.post %}
{% endif %}

<header>
  <div class="panel">
      <h1>
          <a class="post-link" href="{{ this_post.url | relative_url }}">{{ this_post.title }}</a>
      </h1>

      <ul class="tags">
          {% assign tags_num = this_post.tags | size %}
          {% if tags_num > 0 %}
          <li><i class="fa fa-tags"></i></li>
          {% endif %}
          {% for tag in this_post.tags %}
          <li>
              <a class="tag" href="{{ '/search/?t=' | append: tag | relative_url }}">#{{ tag }}</a>
          </li>
          {% endfor %}
      </ul>

      <div class="clearfix">
          <ul class="meta">
              {% if this_post.date %}
              <li>
                  <i class="fa fa-calendar"></i>
                  {{ this_post.date | date: "%Y-%m-%d" }}
              </li>
              {% endif %}
          </ul>
      </div>
  </div>
</header>
