{% if paginator.total_pages > 1 %}
<div class="pagination">

    {% if paginator.previous_page %}
    <a class="btn" href="{{ paginator.previous_page_path | relative_url }}">
        <i class="fa fa-chevron-left"></i>
        {{ site.str_prev }}
    </a>
    {% else %}
    <span class="btn disabled">
        <i class="fa fa-chevron-left"></i>
        {{ site.str_prev }}
    </span>
    {% endif %}

    {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
            {% if page.url != trail.path %}
                <a class="btn" href="{{ trail.path | remove: 'index.html' | relative_url }}">
                    {{ trail.num }}
                </a>
            {% else %}
                <span class="btn disabled">
                    {{ trail.num }}
                </span>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if paginator.next_page %}
    <a class="btn" href="{{ paginator.next_page_path | relative_url }}">
        {{ site.str_next }}
        <i class="fa fa-chevron-right"></i>
    </a>
    {% else %}
    <span class="btn disabled">
        {{ site.str_next }}
        <i class="fa fa-chevron-right"></i>
    </span>
    {% endif %}

</div>
{% endif %}
