---
layout: post
title: Report z LinuxDays
tags: linuxdays projekt
---

<p>
    Minulý víkend v proběhla v Praze konference LinuxDays, na které jsme nesměli chybět. Rozhodli jsme se L10N.cz oživit a LinuxDays byla perfektní příležitost pro setkání. V sobotu jste tak mohli navštívit naši otevřenou diskuzi, kde jsme probrali, co nás nejvíce trápí a jaká témata chceme řešit jako první.
</p>

<p style="text-align: center;">
    <a href="{{ '/assets/img/posts/IMG_20161008_161801.jpg' | relative_url }}"><img src="{{ '/assets/img/posts/IMG_20161008_161801-small.jpg' | relative_url }}" alt="foto z diskuze na LinuxDays"/></a>
</p>

<h3>Překladatelský slovník a terminologie</h3>
<p>
    Tak jako na nějaký čas nebylo okolo L10N.cz mnoho dění, nedělo asi ani okolo <a href="https://wiki.l10n.cz/P%C5%99ekladatelsk%C3%BD_slovn%C3%ADk" title="Překladatelský slovník – L10N.cz Wiki">našeho překladatelského slovníku</a>. Nejprve jej tedy projdeme a prodiskutujeme sporná slova. A až budeme všichni spokojení, začneme pracovat na rozšiřování a dokumentování další terminologie, kterou budeme v překladech co nejjednotněji používat. Rádi bychom dotáhli slovník také po technické stránce a nabídli jej ve strojově čitelném formátu, který bude použitelný v našich nástrojích včetně možnosti pravidelně generovat a aktualizovat stránku na naší wiki.
</p>

<h3>Slovník pro kontrolu překlepů</h3>
<p>
    Stávající český slovník, který používají snad všechny open source programy a aplikace, má už svůj věk a není moc aktualizovaný. Začínáme tak hledat zdroj dat pro nový slovník, kterým by mohl být ÚJČ nebo některá z českých vysokých škol, ale zatím s nimi nejsme ve spojení. Nový slovník bychom rádi uvolnili pod svobodnější licencí, než je současná GPL, a počítáme s možností hlášení chyb od uživatelů.
</p>

<p>
    Chcete-li se do naší diskuze zapojit a pomoci nám pozvednout kvalitu dokumentace i české lokalizace samotné, nebo se lokalizací a překlady přímo zabýváte, přidejte se do <a href="{% link _pages/emailova-konference.md %}">naší e-mailové konference</a>.
</p>
