<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    {% include page-url-resolver.html page=page %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
      if (window.location.hostname === 'l10n.cz') {
        window.location.hostname = 'www.l10n.cz';
      }
    </script>

    {% seo %}

    <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/x-icon">
    <link rel="canonical" href="{{ url }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}" />

    {% if page.eye_catch %}
    {% assign ogp_image_url = page.eye_catch %}
    {% else %}
    {% assign ogp_image_url = site.ogp.image_url %}
    {% endif %}

    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ ogp_image_url }}" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="fb:admins" content="{{ site.ogp.fb.admin }}" />
    <meta property="fb:app_id" content="{{ site.ogp.fb.app_id }}" />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://use.fontawesome.com/1f5f360d80.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic" rel="stylesheet">

    <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
</head>
<body>

<header class="site-header">
    <div class="inner clearfix">
        {% if site.avatar %}
        <a href="{{ '/' | relative_url }}">
            <img class="avatar" src="{{ site.avatar | relative_url }}" alt="logo L10N.cz"/>
        </a>
        {% endif %}
        <h1 class="clearfix">
            <a class="title {% if site.avatar == null %}slim{% endif %}" href="{{ '/' | relative_url }}">{{ site.title }}</a>
            <br><span class="description">{{ site.description }}</span>
        </h1>
    </div>
</header>

<div class="site-container">
    <div class="site-content">
        {{ content }}
    </div>

    <aside class="site-aside">
        <div class="inner">
            <div class="block">
                <form action="{{ '/search' | relative_url }}">
                    <input type="search" id="search" name="q" placeholder="{{ site.str_search }}" />
                </form>
            </div>
            <h1>Příspěvky</h1>
            <ul>
                {% assign posts = '' | split: '' %}
                {% for post in site.posts %}
                {% if post.hide != true %}
                {% assign posts = posts | push: post %}
                {% endif %}
                {% endfor %}
                {% assign posts = posts | sort: 'date' | reverse %}
                {% for post in posts limit:site.recent_posts_num %}
                <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
                {% endfor %}
                <li><a href="{{ '/archiv/' | relative_url }}">Všechny příspěvky »</a></li>
            </ul>
            <h1>L10N.cz Wiki</h1>
            <ul>
                <li><a href="https://wiki.l10n.cz/">Wiki L10N.cz</a></li>
                <li><a href="https://wiki.l10n.cz/Hlášení_chyb_v_překladech">Hlášení chyb v překladech</a></li>
                <li><a href="https://wiki.l10n.cz/Překladatelské_týmy">Překladatelské týmy</a></li>
                <li><a href="https://wiki.l10n.cz/Překladatelský_slovník">Překladatelský slovník</a></li>
                <li><a href="https://wiki.l10n.cz/Návody_pro_překladatele">Návody pro překladatele</a></li>
                <li><a href="https://wiki.l10n.cz/Pomůcky_pro_překladatele">Pomůcky pro překladatele</a></li>
            </ul>
            <h1>Další</h1>
            <ul>
                <li><a href="https://wiki.l10n.cz/Jak_se_zapojit">Zapojte se</a></li>
                {% assign pages = site.pages | sort: 'order' %}
                {% for page in pages %}
                {% if page.title and page.hide != true %}
                <li><a class="page-link" href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
            <ul class="icons">
                {% include icons.html icons=site.icons %}
            </ul>
        </div>
    </aside>
</div>

<footer class="site-footer">
    <div class="inner">
        <span>
            Obsah stránky lze šířit za podmínek licence <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/deed.cs" target="_blank">Creative Commons Attribution-ShareAlike 3.0 Unported (CC BY-SA 3.0)</a>.
            <br>
            L10N.cz | Provoz zaštiťuje <a href="https://www.openalt.org/" target="_blank">spolek OpenAlt</a>.
        </span>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ '/assets/lib/garand-sticky/jquery.sticky.js' | relative_url }}"></script>
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>

{% if page.id %}
<script src="{{ '/assets/js/header-link.js' | relative_url }}"></script>
{% endif %}

{% if page.permalink == '/search/' %}
<script src="{{ '/assets/js/search.js' | relative_url }}"></script>
{% endif %}

</body>
</html>
